HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
all_code_output.txt

farmers-market-web/node_modules/

# Dependencies
/node_modules
/.pnp
.pnp.js

# Sharp specific
node_modules/@img/sharp-win32-x64/

# Build outputs
/dist
/build
/.next

.env